---
import BlogLayout from '../../layouts/BlogLayout.astro';

// Get all markdown files in the blog directory
const posts = await Astro.glob('./*.md');
---
<BlogLayout title="Blog">
  <h2>Blog Posts</h2>
  <ul>
    {posts.map(post => (
      <li>
        <a href={post.url}><strong>{post.frontmatter.title}</strong></a><br />
        <small>{post.frontmatter.date} &mdash; {post.frontmatter.description}</small>
      </li>
    ))}
  </ul>
</BlogLayout> 