---
import BlogLayout from '../layouts/BlogLayout.astro';
---
<BlogLayout title="Home">
  <h2>Welcome to My Astro Blog!</h2>
  <p>This is a personal blog built with Astro. Here, you'll find posts about web development, technology, and more.</p>
  <p><a href="/blog">Read the Blog &rarr;</a></p>
</BlogLayout>
